body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
  }
  
  /* #content .map path {
    fill: #ddd;
    stroke: #aaa;
  } */

.bayoutline path {
    fill: #ddd;
    stroke: #aaa;
  }

#top {
    background-color: coral;
}

#map {
    background-color: pink;
}



  /* #baysvg {
    background-color: coral;
  } */